[Unit]
Description=nopCommerce ASP.NET Core Application
After=network.target
StartLimitBurst=5
StartLimitIntervalSec=10

[Service]
Type=simple
Restart=always
RestartSec=3
TimeoutStopSec=30
KillMode=mixed
User=ubuntu
Group=ubuntu
WorkingDirectory=/var/www/nopcommerce
ExecStart=/usr/local/dotnet/dotnet Nop.Web.dll
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_BUNDLE_EXTRACT_BASE_DIR=/tmp
SyslogIdentifier=nopcommerce

[Install]
WantedBy=multi-user.target