[Unit]
Description=nopCommerce E-commerce Platform
After=network.target
StartLimitIntervalSec=0

[Service]
Type=notify
Restart=always
RestartSec=1
User=www-data
WorkingDirectory=/var/www/nopcommerce
ExecStart=/usr/local/dotnet/dotnet /var/www/nopcommerce/Nop.Web.dll
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=ASPNETCORE_URLS=http://10.0.0.35:5000
SyslogIdentifier=nopcommerce
KillSignal=SIGTERM
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
